/* roboto-regular - latin */
@font-face {
    font-family: 'Adamina';
    font-style: normal;
    font-weight: normal;
    src: local('Adamina'), local('Adamina-Regular'),
      url('../fonts/adamina-regular.ttf') format('ttf');
  }
  
  :root {
    --plant-green: #050;
  }
  
  .bg-plant-green {
    background-color: var(--plant-green) !important;
  }

  .h1 {
    margin-top: 30pt;
    text-align: center;
    color: var(--plant-green);
  }

  .plant-table {
    margin-top: 30pt;
    width:fit-content
  }

  .modal-title {
    color: var(--plant-green);
  }

  .tag-inline {
    display:inline-block;
  }

  .tag {
    font-weight: bold;
    font-size: larger;
  }

  .tag-text {
    margin-right:15px;
    font-size: large;
  }

  .plant-description {
    font-size: large;
  }